@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #0f766e;
  --brand-gold: #f59e0b;
}

body {
  font-family: theme('fontFamily.sans');
  background-color: #f8fafc;
  color: #0f172a;
}
